iridanext {
    enabled = true
    output {
        idkey = "irida_id"
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            global = [
                "**/filter/filterStats.txt",
                "**/verifying/mappingQuality.txt",
                "**/phyml/phylogeneticTree.newick",
                "**/phyml/phylogeneticTreeStats.txt",
                "**/arbor/SNVPhyl_ArborView.html",
                "**/vcf2snv/snvAlignment.phy",
                "**/make/snvMatrix.tsv",
                "**/vcf2snv/snvTable.tsv",
                "**/vcf2snv/vcf2core.tsv",
                "**/pipeline_info/software_versions.yml"]
        }
    }
}
